

*::selection{
  color: #eece62;
}	

*::-moz-selection {
color: #eece62;
}

html,body {
   margin: 0;
   padding: 0;
   line-height: 0;
   vertical-align: 0;
   overflow: auto;
   }


body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: hidden;
}
   

html, h1, h2, h3, h4, h5, dl, dt, dd, li, ul, ol, form, div, img, table, td, th, tr{
   margin: 0;
   padding: 0;
   text-align:left;
   }  

/* 
#wrapper{
   margin: 0 auto;
   width: 100%;
   max-width: 100%;
   z-index: 1;
   }
*/   
.overlay{
	z-index: 99;
}


#menu{
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   margin-top: 45px;
   margin-bottom: 45px;
   }


/* text start */


h1{
   margin: 0 auto;
   }


h2{
   margin: 0 auto;
   color: rgb(130,130,130);
   font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
   font-weight: normal; 
   font-size: 24px;
   }


#box_juanal h2{
   text-decoration: none;
   }


h3{
   text-align: center;
   text-decoration: none;
   font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
   color: rgb(220,190,85);
   font-weight: normal; 
   font-size: 28px;
   }


h4{
   text-align: center;
   color: rgb(130,130,130);
   text-decoration: none;
   font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
   font-weight: normal; 
   font-size: 16px;
   }


caption{
   margin: 0 auto;
   color: rgb(130,130,130);
   text-decoration: none;
   font-family: serif;
   font-size: 20px;
   }


p{
   margin: 0 auto;
   color: rgb(130,130,130);
   text-decoration: none;
   font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
   font-size: 14px;
   }
   
span{
   margin: 0 auto;
   color: rgb(130,130,130);
   text-decoration: none;
   font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
   font-size: 14px;
   text-align: center;
   }


span.body_link_style a{
   text-decoration: none;
   color:#1f9cdf;
}

span.body_link_style a:hover{
   color:#325db9;
}



/* text end */

.order-pic-bottom{
  margin-bottom: 40px;
 }

.order-bottom{
  padding-bottom: 80px;
  }

#main_vi{
  width: 100%;
  height: 520px;
  background: url("../img/main.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  }

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

.nav-collapse{
  margin-bottom: 60px;
  }

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
  }


.nav-collapse li {
  width: 25%;
  float: left;
  }


.nav-collapse ul a {
  color: rgb(130,130,130);
  text-decoration: none;
  font-family: SnellRoundhandLTStd-Scr;
  font-size: 24px;
  width: 100%;
  background: rgba(255,255,255,0.5) ;
  padding: 30px;
  float: left;
  text-align: center;
  transition-property: background;
  transition-duration:0.3s;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  }


.nav-collapse a:hover {
  background: rgba(245,245,245,0.9);
  }


/*header start */

.hs a img{
  height: 54px;
  }

.bt{
  margin-top: -40px;
  float: right;
  }

#top_contents{
  margin: 0 auto;
  width: 880px;
  height: auto;
  margin-top: 65px;
  overflow: hidden;
  }
  
.box_50{
  width: 48%;
  float: left;
  }

.box_100{
  width: 100%;
  float: left;
  }

.mgr{
  margin: 0 2% 0 0;
  }

.mgl{
  margin: 0 0 0 2%;
  }

.mglt{
  margin: 30px 0 0 2%;
  }

.mgt{
  margin: 30px 0 0 0;
  }


.thumbnail_max img{
  width: 100%;
  }


.thumbnail_mini img{
  width: 100%;
  }


#top_juanal{
  clear: both;
  width: 100%;
  height: 340px;
  background: url("../img/top_juanal_text.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-top: 1px solid rgba(150,150,150,0.3);
  margin-top: 65px;
  }

#box_juanal{
  margin: 0 auto;
  max-width: 880px;
  }

#box_juanal h2{
  margin-top: 70px;
  text-align: center;
  text-decoration: none;
  }

#lead_juanal{
  margin: 0 auto;
  height: 70px;
  margin-top: 70px;
  text-align: center;
  }

#link_and{
  text-align: center;
  margin-top: 40px;
  } 

.cap{
  margin-bottom: 40px;
  }   

#lead_juanal a{
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(130,130,130);
  border-bottom: solid 1px #999;  
  padding-bottom: 10px;
  text-decoration: none;
  transition-property: padding;
  transition-duration:0.1s;
  transition-timing-function:ease-out;
  transition-delay:0.1s;
  } 
  

#lead_juanal a:hover{
  padding: 0px 15px 10px 15px;
  }

  
#link_and a{
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(130,130,130);
  border-bottom: solid 1px #999;  
  padding-bottom: 10px;
  text-decoration: none;
  transition-property: padding;
  transition-duration:0.1s;
  transition-timing-function:ease-out;
  transition-delay:0.1s;
  } 
  

#link_and a:hover{
  padding: 0px 15px 10px 15px;
  }


/*footer start*/


footer{
  margin: 0 auto;
  max-width: 100%;
  height: 120px;
  border-top: 1px solid rgba(150,150,150,0.3);
  }


#footer_body{
  margin: 0 auto;
  max-width: 960px;
  }
  

#footer_contents{
  width: 50%;
  list-style: none;
  }
  

#anchor_footer{
  width: 10%;
  float: right;
  list-style: none;
  }


#footer_contents li {
  margin: 0 40px 0 0;
  float: left;
  }


#footer_contents li a{
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 55px 0 65px 0;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
  border-bottom: solid 1px #ccc;  
  letter-spacing: 1px;
  padding-bottom: 16px;
  transition-property: padding;
  transition-duration:0.1s;
  transition-timing-function:ease-out;
  transition-delay:0.1s;
  }


#footer_contents li a:hover{
  padding: 55px 6px 16px 6px;
  }


#anchor_footer li{
  padding: 45px 0px 0px 0px;
  float: right;
  }


.link_footer a{
  text-decoration: none;
  display: block;
  }

/*footer end*/ 


#contents{
  margin: 0 auto;
  width: 960px;
  }
  

#contents:after   {  
  content: ".";  
  display: block;  
  visibility: hidden;  
  height: 0.1px;  
  font-size: 0.1em;  
  line-height: 0;  
  clear: both;  
} 


#copy_en p{
  font-family: SnellRoundhandLTStd-Scr;
  font-size: 66px;
  line-height: 1.2;
  text-align: center;
  margin : 120px 0 0px 0;
  color: #dbbc56;
  }

#copy_jp p{
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 18px;
  line-height: 2.0;
  text-align: center;
  margin : 15px 0 0px 0;
  letter-spacing: 0.2em;
  color: #dbbc56;
  }





.copy_jp {
  width: 70%;
  margin: 0 auto;
  }


.copy_jp h1{
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 18px;
  line-height: 2.0;
  margin : 20px 0 0px 0;
  letter-spacing: 0.2em;
  color: #dbbc56;
  }


.body_l {
  margin-top: 60px;
  }

.body_l p{
  width: 60%;
  line-height: 2.2;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 14px;
  color: rgb(150,150,150);
  letter-spacing: 0.1em;
  text-align: justify;
  text-justify: inter-ideograph;
  -ms-text-justify: inter-ideograph;
  margin-bottom: 30px;
  }
  

#body_s p{
  width: 100%;
  line-height: 2.2;
  font-size: 12px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
  margin-top: 25px;
  text-align: justify;
  text-justify: inter-ideograph;
  -ms-text-justify: inter-ideograph;
  }

.contents_pic{
  width: 960px;
}

.contents_pic img{
  width: 100%;
  margin: 40px 0 0 0;
  }


#profile_detail{
  margin: 0 auto;
  margin-bottom: 140px;
  width: 60%;
  }

#pic{
  margin: 70px 0 0 0 ;
  }

#photo {
  width: 120px;
  text-align: center;
  margin: 0 auto;
  }

#photo  img{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  }


#pic h3{
  text-align: center;
  margin: 0 0 40px 0;
 }   

.name_en{
  text-align: center;
  margin: 25px 0 0 0;
  }
  

.name_jn{
  text-align: center;
  margin: 25px 0 0 0;
  }



.job p{
  font-size: 24px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
 }   

.name_en p{
  font-size: 18px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
}
  

.name_jn p{
  font-size: 12px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
  }


#partners {
  margin: 120px 0 180px 0;	
}


#partners h3{
  text-align: center;
  margin: 0px 0 60px 0;
 }


#partners_group{
  width: 60%;
  margin: 0 auto;	
}


.col_30{
  width: 33.333333%;
  height: 70px;	
  float: left;
}


.partner_name{
  width: 100%;
  text-align: center;
  }
  

.partner_name p{
  font-size: 18px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
  }
  
  
.partner_name_jn{
  width: 100%;
  text-align: center;
  }

.partner_name_jn p{
  font-size: 12px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
  margin-top: 25px;
  }


#cltn_de_vi{
  width: 960px;
  height: 520px;
  margin : 65px 0 50px 0;
  }

#cltn_de_vi img{
  width: 100%;
  }




#cltn_de_le a {
  width: 20%;
  float:left;
  } 

#cltn_de_le img{
  margin-top: 20px;
  }  

#cltn_de_ri img{
  margin-top: 20px;
  }   

#cltn_de_ri {
  float:right;
  }   
  

#cltn_de_ri a{
  float:right;
  } 
  
#cltn_de_body {
  width: 60%;
  float:left;
  margin-bottom: 65px;
  } 
  
  
.cltn_de_number,
.cltn_de_name,
.cltn_de_category,

.button, 
.back_in{
  text-align: center;
  }
  
.cltn_de_number p{
  margin: 0 0 30px 0 ;
  }  

.cltn_de_name h3{
  margin: 15px 0 20px 0 ;
  }  

.cltn_de_category p{
  margin: 0 0 40px 0 ;
  line-height: 26px;
  }  

.cltn_de_category p span{
  font-size: 12px;
  }  


.cltn_de_text {
  border-top: 1px solid #f2f2f2;
  margin-top: 50px;
  border-bottom: 1px solid #f2f2f2;
  }

.cltn_de_text p{
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 2.2;
  font-size: 14px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
  text-align: justify;
  text-justify: inter-ideograph;
  -ms-text-justify: inter-ideograph;
  }
  
.cltn_de_spec {
  margin-top: 25px;
  }


.cltn_de_spec h4{
  font-size: 14px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-weight: bold;
  text-align: center;
  }


.cltn_de_spec p{
  font-size: 12px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  text-align: center;
  line-height: 1.6;
  margin-top: 15px;
  }

.button{
  margin: 0 auto;
  margin-top: 50px;
  }


.button a{
  margin: 0 auto;
  width: 25%;
  padding: 25px 0 25px 0;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(220,190,85);
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  letter-spacing: 1px;
  transition-property: background,color;
  transition-duration:0.15s;
  transition-timing-function:ease-out;
  transition-delay:0.15s;
  }
	

.button a:hover{
  background-color: rgb(220,190,85);
  color: #fff;
  border-radius: 6px;
  }


.contact{
  margin-bottom: 100px;
}


.back_in {
  margin-top: 40px;
  }


.back_in a{
  font-size: 16px;
  padding: 0 0 0 0;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  color: rgb(150,150,150);
  line-height: 1.8;
  border-bottom: solid 1px #ccc;  
  padding-bottom: 10px;
  text-decoration: none;
  transition-property: padding;
  transition-duration:0.1s;
  transition-timing-function:ease-out;
  transition-delay:0.1s;
  } 
  

.back_in a:hover{
  padding: 0px 15px 10px 15px;
  }



/* collection start */


#cltn_tn_vi{
  margin-top: 80px;
  width: 999px;
  overflow: hidden;
  }


#cltn_tn_vi li{
  float: left; 
  width: 31%;
  margin: 0 2.2% 70px 0;
  padding-bottom: 40px;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  }


#cltn_tn_vi li a {
  display: block;
  text-decoration: none;
  }


#cltn_tn_vi li a img {
  width: 100%;
  }

#cltn_tn_vi li h4{
  line-height:1.4em;
  }


#cltn_tn_vi li p{
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 35px 0 20px 0 ;
  font-family: SnellRoundhandLTStd-Scr;
  font-size: 18px;
  color:#dbbc56; 
  }


/* collection end */




/*ol.flex-control-nav {
 list-style: none;
 display: none; 
}*/

.flexslider {
	.flex-direction-nav {
		.flex-prev, .flex-next {
			width: 1000px;
			height: 30px;
			margin-top: -15px;
			&:before {
				display: none;
			}
		}
		.flex-prev {background-image: url("../img/slider/prev.png");}
		.flex-next {background-image: url("../img/slider/next.png");}
	}
}


/* hover start */


.hov {
  
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  pointer-events: visible;
  }



.hov .mask,.hov .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  }


.hov img {
  display: block;
  position: relative;
  }



.mask p {
  width: 100%;
  font-family: SnellRoundhandLTStd-Scr;
  display:table-cell;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  color: #ffffff;
  text-align: center;
  }




.hov img {
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
          transition: all 0.2s linear;
  }


.hov .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: rgba(245,170,150,0.75) ; /*url(../img/congruent_pentagon.png) repeat  トップページ遷移モジュールの背景画像&背景色指定 */
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  }

  
.hov p {
  text-align: center;
  line-height: 160%;
  vertical-align: middle;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
       -o-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
          transition: all 0.3s linear;
  }
 

.hov:hover img {
  -webkit-transform: scale(1.02,1.02);
     -moz-transform: scale(1.02,1.02);
       -o-transform: scale(1.02,1.02);
      -ms-transform: scale(1.02,1.02);
          transform: scale(1.02,1.02);
  }


.hov a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  }


.hov:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
  }


.hov:hover h2,
.hov:hover p,
.hov:hover a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
       -o-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  }


.hov:hover p {
  -webkit-transition-delay: 0.1s;
     -moz-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
          transition-delay: 0.1s;
  }


.hov:hover a.info {
  -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
      -ms-transition-delay: 0.2s;
          transition-delay: 0.2s;
  }
				
/* hover end */
